

CREATE TABLE Puestos (id INT AUTO_INCREMENT NOT NULL, descripcion VARCHAR(100) NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8 COLLATE `utf8_unicode_ci` ENGINE = InnoDB;
CREATE TABLE SolicitudDeEmpleado (id INT AUTO_INCREMENT NOT NULL, nombre VARCHAR(50) NOT NULL, apellido VARCHAR(50) NOT NULL, dni VARCHAR(20) NOT NULL, annosDeExperiencia INT DEFAULT NULL, otrosTrabajos VARCHAR(255) DEFAULT NULL, fechaCreacion DATETIME NOT NULL, puestoRequerido INT NOT NULL, UNIQUE INDEX UNIQ_A72E73397F8F253B (dni), INDEX IDX_A72E73394F7D728B (puestoRequerido), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8 COLLATE `utf8_unicode_ci` ENGINE = InnoDB;
ALTER TABLE SolicitudDeEmpleado ADD CONSTRAINT FK_A72E73394F7D728B FOREIGN KEY (puestoRequerido) REFERENCES Puestos (id);
